.quiz-container {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 350px;
    margin: 85px auto;
    padding: 20px 60px;
    background: rgba(156, 123, 123, 0.155);
    border: 2px solid #f8f0f09d;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(242, 240, 240, 0.5);
    color: #000000;
    border-radius: 20px;
}

.quiz-container h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.quiz-container .choices {
    margin-bottom: 30px;
}

.quiz-container .choices input {
    margin-right: 10px;
}

.quiz-container button {
    width: 100px;
    height: 40px;
    background-color: rgb(168, 11, 41);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.quiz-container button:hover {
    background-color: rgb(52, 52, 48);
}
ul.nav-items {
 list-style-type: none; 
 margin: 0;
 padding: 0; 
 overflow: hidden; 
 background-color: rgb(168, 11, 41);
height: 7vh; 
position: fixed; 
top: 0; 
width: 100%;}
li {
float: left;
border-right:1px solid rgb(248, 246, 235) 
}
li a {
display: block; 
color: white; 
text-align: center;
padding: 10px 16px;
text-decoration: none; 
}
li a:hover:not(.active) { 
background-color:rgb(52, 52, 48); 
}
.active { 
background-color: rgb(52, 52, 48); 
}