*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
.hero{
    width: 100;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
form{
    
    width: 500px;
    padding: 30px;
    font-size: 18px;
    background: rgba(156, 123, 123, 0.155);
    border: 2px solid #f8f0f09d;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(242, 240, 240, 0.5);
    color: #000000;
    border-radius: 20px;
      /* align-items: center; */
}
.message-icon{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.message-icon i{
    font-size: 40px;
}

.message-icon span{
    font-size: 22px;
    font-weight: bold;
    margin-left: 15px;
}
form input, textarea{
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #000;
    outline: none;
}
#input-field{
    padding-bottom: 20px;
    display: flex;
    align-items: center;
}
#input-field i{
    font-size: 22px;
    margin-right: 15px;

}
.send-btn{
    width: 100px;
    border: none;
    background: #898585;
    color: #fff;
    font-size:16px ;
    padding: 6px 0;
    border-radius: 50px;
}


ul.nav-items {
    list-style-type: none; 
    margin: 0;
    padding: 0; 
    overflow: hidden; 
    background-color: rgb(168, 11, 41);
   height: 7vh; 
   position: fixed; 
   top: 0; 
   width: 100%;}
 li {
   float: left;
   border-right:1px solid rgb(248, 246, 235) 
 }
 li a {
   display: block; 
   color: white; 
   text-align: center;
   padding: 10px 16px;
   text-decoration: none; 
 }
 li a:hover:not(.active) { 
   background-color:rgb(52, 52, 48); 
 }
 .active { 
   background-color: rgb(52, 52, 48); 
 }
